@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Rubik+Dirt&display=swap');
$primary-color: #c6d1bfa8;
$secondary-color: #ffffff;
$tertiary-color: #789e63;
$background-color: #ebf0e9;
$font-primary: 'Inter', sans-serif;
$font-header:  'Gentium Plus', serif;
$background-window-color: rgb(241, 241, 241);

//hovers
$primary-color-hover: #485a7f;
$primary-color-hover-second: #2b384d;