<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circuit Soft</title>
    <link rel="icon" href="img/bolt-solid.svg">
</head>
<body>
    <h1>Circuito RC e RL</h1>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html"> Voltar </a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="flex-content">
        <div class="inputs">

            <section>
                <input type="radio" name="polinomio" id="polinomio" checked>
                <input type="radio" name="polinomio" id="polinomio">
                <input type="radio" name="polinomio" id="polinomio">
            </section>


            <input type="text" id="denominador">
            <input type="text" id="quociente">
            <button>calcular</button>
        </div>

        <div class="result">

        </div>
    </main>
</body>
</html>