#rlc{
    position: relative;
    width: 100%;
    height: 96%;
}

#rlc h2{
    text-align: center;
    font-style: normal;
    font-size: 2em;
}

#rlc .main{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#rlc .main nav{
    width: 70%;
}

#rlc .main nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#rlc .main nav ul .active{
    color: aliceblue;
    background-color: #1fbf77;
}

#rlc .main nav ul li{
    padding: 10px;
    color: #1fbf77;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease-out;
}

#rlc .main nav ul li:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: #1fbf77;
}

/* circuito RLC série */

#serie{
    position: relative;
    width: 100%;
}

#rlc .main #serie .content{
    position: absolute;
    top: 0;
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

#rlc .main #serie .content .sessao{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#rlc .main #serie .content .sessao p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#rlc .main #serie .content .sessao select{
    color: aliceblue;
    background-color: #1fbf77;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

option{
    font-weight: bold;
}

#rlc .main #serie .content #dataInput{
    margin-left: -100px;
}

#rlc .main #serie .content #dataInput .input-group{
    display: flex;
    flex-wrap: wrap;
}

#rlc .main #serie .content #dataInput .input-group input{
    width: 60%;
    padding: 5px;
    margin-top: -50px;
}

#rlc .main #serie .content #dataInput .input-group select{
    padding: 5.5px;
    margin-top: -50px;
    border-radius: 0 5px 5px 0;
}

#rlc .main #serie .content #dataInput button{
    padding: 5px;
    margin-bottom: 10px;
}

#rlc .main #serie .content #config select{
    padding: 5px;
}

/* circuito RLC paralelo */

#paralelo{
    position: relative;
    width: 100%;
}

#rlc .main #paralelo .content{
    position: absolute;
    top: 0;
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

#rlc .main #paralelo .content .sessao{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#rlc .main #paralelo .content .sessao p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#rlc .main #paralelo .content .sessao select{
    color: aliceblue;
    background-color: #1fbf77;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#rlc .main #paralelo .content .dataInput2 .input-group{
    display: flex;
    flex-wrap: wrap;
}

#rlc .main #paralelo .content .dataInput2 .input-group input{
    width: 50%;
    padding: 5px;
    margin-top: -35px;
}

#rlc .main #paralelo .content .dataInput2 .input-group select{
    padding: 5.5px;
    margin-top: -35px;
}

#rlc .main #paralelo .content .dataInput2 button{
    padding: 5px;
    margin-bottom: 10px;
}

#rlc .main #paralelo .content #config2 select{
    padding: 5px;
}

/* ============== */

.dispositivo2{
    padding: 5px;
}

.test , #rlc .main #paralelo .content .sessao button{
    font-weight: bold;
    color: aliceblue;
    background-color: #1fbf77;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}