*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;    
}

body{
    background: #1f1fbf;
    display: flex;
}

nav, section{
    width: 50%;
    height: 100vh;
}

nav{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
}

nav h1{
    margin-bottom: 40px;
}

nav ul{
    list-style: none;
}

nav ul li{
    margin: 10px 0px;
    padding: 10px 0px;
    transition: 0.2s;
    border-left: 0px solid #1f1fbf;
}

nav ul li:hover{
    border-left: 5px solid #1f1fbf;
    padding-left: 5px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #1f1fbf;
    width: 100%;
    height: 100%;
}

section{
    color: aliceblue;
    text-align: center;
}

section h1, section p{
    margin-top: 250px;
}