<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Circuit Soft</title>
    <link rel="icon" href="img/bolt-solid.svg">
    <script src="../eel.js"></script>
</head>
<body>
    <main>
        <h1 class="title">Circuit Soft</h1>

        <nav class="menu">
            <ul>

                <li class="list-item">
                    Função Transferencia H(s)
                </li>

                <li class="list-item">
                    Circuitos RLC's
                </li>

            </ul>
        </nav>

        <!-- Telas de cada funcionalidade -->

        <!-- Função Transferencia -->
        <div class="screen-item" id="RcRl">
           <h2>Função Transferencia H(s)</h2>

           <div class="main">
                <nav>
                    <ul>
                        <li class="screen-menu">
                            Voltar
                        </li>

                        <li class="item-menu active">
                            Polinomio
                        </li>

                        <li class="item-menu">
                            Polos e Zeros
                        </li>

                        <button class="info" style="background-color: transparent; border: none; cursor: pointer;"><img src="img/circle-question-solid.svg" style="width: 30px;"></button>
                    </ul>
                </nav>

                <div class="sub-tela" id="polinomio">
                    <div class="content">

                        <div class="form">
                            <p>Ganho</p>
                            <input type="number" id="ganho" value="1">
    
                            <p>Numerador</p>
                            <input type="text" id="numerador">
    
                            <p>Denominador</p>
                            <input type="text" id="denominador">
    
                            <button class="button">Gerar H(s)</button>
                            <section class="omega-range">
                                <span>
                                    <p>Freq. Inicial</p>
                                    <span>10^</span>
                                    <input class="init-freq" type="number" value="0">
                                </span>

                                <span>
                                    <p>Freq. Final</p>
                                    <span>10^</span>
                                    <input class="end-freq" type="number" value="0">
                                </span>

                                <span>
                                    <p>Nº de pontos</p> 
                                    <input class="interval" type="number" value="20">
                                </span>

                                <span>
                                    <p>Unidade</p>
                                    <select class="unid">
                                        <option value="rad-seg">Rad/seg</option>
                                        <option value="Hz">Hz</option>
                                    </select>
                                </span>
                            </section>
                            <button class="button">Gerar Grafico</button>
                        </div>
    
                        <!-- Area onde vai as informações da resposta em frequencia -->
                        <div id="terminal" style="display: block;">
                            <textarea name="ter" id="ter" cols="30" rows="10" disabled style="text-align: left; display: block;"></textarea>
                        </div>

                    </div>
                </div>

                <div class="sub-tela" style="display: none;">
                    <div class="content">

                        <div class="form">
                            <p>Ganho</p>
                            <input type="number" value="1">

                            <p>Zeros</p>
                            <input type="text" id="zeros-poly">
    
                            <p>Polos</p>
                            <input type="text" id="polos-poly">
    
                            <button class="button">Gerar Polinomio de H(s)</button>

                            <section class="omega-range">
                                <span>
                                    <p>Freq. Inicial</p>
                                    <span>10^</span>
                                    <input class="init-freq" type="number" value="0">
                                </span>

                                <span>
                                    <p>Freq. Final</p>
                                    <span>10^</span>
                                    <input class="end-freq" type="number" value="0">
                                </span>

                                <span>
                                    <p>Nº de pontos</p>
                                    <input class="interval" type="number" value="20">
                                </span>

                                <span>
                                    <p>Unidade</p>
                                    <select class="unid">
                                        <option value="rad-seg">Rad/seg</option>
                                        <option value="Hz">Hz</option>
                                    </select>
                                </span>
                            </section>

                            <button class="button">Gerar Grafico</button>
                        </div>
    
                        <!-- Area onde vai as informações da resposta em frequencia -->
                        <div style="display: block;">
                            <textarea name="ter" id="ter2" cols="30" rows="10" disabled style="text-align: left; display: block; width: 100%; height:60vh;"></textarea>
                        </div>

                    </div>
                </div>
           </div>
        </div>

        <!-- Circuito RLC -->
        <div class="screen-item" id="rlc">
           <h2>Circuitos RLC's</h2>

           <div class="main">
                <nav>
                    <ul>
                        <li class="screen-menu">
                            Voltar
                        </li>

                        <li class="item-menu active">
                            RLC Série
                        </li>

                        <li class="item-menu">
                            RLC Paralelo
                        </li>

                        <button class="info" style="background-color: transparent; border: none; cursor: pointer;"><img src="img/circle-question-solid.svg" style="width: 30px;"></button>
                    </ul>
                </nav>

                <div class="sub-tela" id="serie">

                    <div class="content">
                        <section class="sessao" id="config">
                            <p>Tensão de saída</p>
                            <select id="dispositivo" onclick="trocaImagem()">
                                <option value="Vr">Resistor (Vr)</option>
                                <option value="Vl">Indutor (Vl)</option>
                                <option value="Vc">Capacitor (Vc)</option>
                                <option value="Vlc">Capac. + Indu. (Vlc)</option>
                            </select>
    
                            <img id="imgSelect" src="img/Vr.png" style="rotate: 90deg; scale: 0.6; width: 450px; height: 400px;">
    
                            <select id="unidFreq">
                                <option value="rad-seg">Rad/seg</option>
                                <option value="hz">Hz</option>
                            </select>
                        </section>
    
                        <section class="sessao" id="dataInput">
                            <div class="input-group">
                                <p>Valor do Resistor</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GΩ</option>
                                    <option value="10**6">MΩ</option>
                                    <option value="10**3">KΩ</option>
                                    <option value="1" selected>Ω</option>
                                    <option value="10**-3">mΩ</option>
                                    <option value="10**-6">uΩ</option>
                                    <option value="10**-9">nΩ</option>
                                </select>
                            </div>
    
                            <div class="input-group">
                                <p>Valor do Indutor</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GH</option>
                                    <option value="10**6">MH</option>
                                    <option value="10**3">KH</option>
                                    <option value="1" selected>H</option>
                                    <option value="10**-3">mH</option>
                                    <option value="10**-6">uH</option>
                                    <option value="10**-9">nH</option>
                                </select>
                            </div>
    
                            <div class="input-group">
                                <p>Valor do Capacitor</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GF</option>
                                    <option value="10**6">MF</option>
                                    <option value="10**3">KF</option>
                                    <option value="1" selected>F</option>
                                    <option value="10**-3">mF</option>
                                    <option value="10**-6">uF</option>
                                    <option value="10**-9">nF</option>
                                </select>
                            </div>
    
                            <button class="test">Gerar H(s)</button>
                            <button class="test">Plotar Grafico</button>
    
                        </section>
    
                        <section class="sessao">
                            <textarea disabled id="ter3" cols="30" rows="10" style="height: 400px; width: 310px;"></textarea>
                        </section>

                    </div>

                </div>
     
                <div class="sub-tela" id="paralelo" style="display: none;">
                    <div class="content">
                        <section class="sessao" id="config2">
    
                            <img src="img/RLC-p.png" style="width: 400px; height: 200px;">
    
                            <select id="unidFreq2">
                                <option value="rad-seg">Rad/seg</option>
                                <option value="hz">Hz</option>
                            </select>

                            <button class="dispositivo2">Calular H(s)</button>
                            <button class="dispositivo2">Medir "C" e "R" a partir da banda</button>
                            <button class="dispositivo2">Medir "L" e "R" a partir da banda</button>
                        </section>
    
                        <section class="sessao dataInput2" id="Hs">

                            <div class="input-group">
                                <p>Valor de Rg</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GΩ</option>
                                    <option value="10**6">MΩ</option>
                                    <option value="10**3">KΩ</option>
                                    <option value="1" selected>Ω</option>
                                    <option value="10**-3">mΩ</option>
                                    <option value="10**-6">uΩ</option>
                                    <option value="10**-9">nΩ</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <p>Valor de R</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GΩ</option>
                                    <option value="10**6">MΩ</option>
                                    <option value="10**3">KΩ</option>
                                    <option value="1" selected>Ω</option>
                                    <option value="10**-3">mΩ</option>
                                    <option value="10**-6">uΩ</option>
                                    <option value="10**-9">nΩ</option>
                                </select>
                            </div>
    
                            <div class="input-group">
                                <p>Valor de L</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GH</option>
                                    <option value="10**6">MH</option>
                                    <option value="10**3">KH</option>
                                    <option value="1" selected>H</option>
                                    <option value="10**-3">mH</option>
                                    <option value="10**-6">uH</option>
                                    <option value="10**-9">nH</option>
                                </select>
                            </div>
    
                            <div class="input-group">
                                <p>Valor de C</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GF</option>
                                    <option value="10**6">MF</option>
                                    <option value="10**3">KF</option>
                                    <option value="1" selected>F</option>
                                    <option value="10**-3">mF</option>
                                    <option value="10**-6">uF</option>
                                    <option value="10**-9">nF</option>
                                </select>
                            </div>
    
                            <button>Simular</button>
                        </section>

                        <section class="sessao dataInput2" id="RC" style="display: none;">
                            
                            <div class="input-group">
                                <p>Valor de Rg</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GΩ</option>
                                    <option value="10**6">MΩ</option>
                                    <option value="10**3">KΩ</option>
                                    <option value="1" selected>Ω</option>
                                    <option value="10**-3">mΩ</option>
                                    <option value="10**-6">uΩ</option>
                                    <option value="10**-9">nΩ</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <p>Freq-Resso (Rad/seg)</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">G</option>
                                    <option value="10**6">M</option>
                                    <option value="10**3">K</option>
                                    <option value="1" selected></option>
                                    <option value="10**-3">m</option>
                                    <option value="10**-6">u</option>
                                    <option value="10**-9">n</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <p>Banda (Rad/seg)</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">G</option>
                                    <option value="10**6">M</option>
                                    <option value="10**3">K</option>
                                    <option value="1" selected></option>
                                    <option value="10**-3">m</option>
                                    <option value="10**-6">u</option>
                                    <option value="10**-9">n</option>
                                </select>
                            </div>
    
                            <div class="input-group">
                                <p>Valor de L</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GH</option>
                                    <option value="10**6">MH</option>
                                    <option value="10**3">KH</option>
                                    <option value="1" selected>H</option>
                                    <option value="10**-3">mH</option>
                                    <option value="10**-6">uH</option>
                                    <option value="10**-9">nH</option>
                                </select>
                            </div>
    
                            <button>Simular</button>

                        </section>

                        <section class="sessao dataInput2" id="RL" style="display: none;">
                            
                            <div class="input-group">
                                <p>Valor de Rg</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GΩ</option>
                                    <option value="10**6">MΩ</option>
                                    <option value="10**3">KΩ</option>
                                    <option value="1" selected>Ω</option>
                                    <option value="10**-3">mΩ</option>
                                    <option value="10**-6">uΩ</option>
                                    <option value="10**-9">nΩ</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <p>Freq-Resso (Rad/seg)</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">G</option>
                                    <option value="10**6">M</option>
                                    <option value="10**3">K</option>
                                    <option value="1" selected></option>
                                    <option value="10**-3">m</option>
                                    <option value="10**-6">u</option>
                                    <option value="10**-9">n</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <p>Banda (Rad/seg)</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">G</option>
                                    <option value="10**6">M</option>
                                    <option value="10**3">K</option>
                                    <option value="1" selected></option>
                                    <option value="10**-3">m</option>
                                    <option value="10**-6">u</option>
                                    <option value="10**-9">n</option>
                                </select>
                            </div>
    
                            <div class="input-group">
                                <p>Valor de C</p>
                                <input type="number" value="1">
                                <select>
                                    <option value="10**9">GF</option>
                                    <option value="10**6">MF</option>
                                    <option value="10**3">KF</option>
                                    <option value="1" selected>F</option>
                                    <option value="10**-3">mF</option>
                                    <option value="10**-6">uF</option>
                                    <option value="10**-9">nF</option>
                                </select>
                            </div>
    
                            <button>Simular</button>

                        </section>
    
                        <section class="sessao">
                            <textarea disabled id="ter4" cols="30" rows="10" style="height: 400px; width: 310px;"></textarea>
                        </section>

                    </div>
                </div>
           </div>
        </div>

    </main>

    <div id="info">
        <h3>Olá, seja bem vindo ao Circuit Soft, um programa desenvolvido para os estudantes de engenharia elétrica e eletronica com a finalidade de complementar os estudos de circuitos elétricos especificamente o assunto de filtragem e resposta em ressonancia. Tenha uma otima experiencia. Desenvolvido por Carlos Aguiar &copy;2022.1</h3>
    </div>


    <!-- Area para adicionar os scripts JS -->
    <script src="js/transitionScreen.js"></script>
    <script src="js/generic.js"></script>
    <script src="js/H_s.js"></script>
    <script src="js/rlc.js"></script>
</body>
</html>