<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Circuit Soft</title>
    <link rel="icon" href="img/bolt-solid.svg">
</head>
<body>
    <!-- Menu lateral --->
    <nav>
        <h1>Circuit Soft</h1>

        <ul>
            <li>
                <a href="telas/RcRl.html">Circuito RC e RL</a>
            </li>
        </ul>
    </nav>

    <section>
        <h1>Bem vindo!</h1>
        <h2>Olá, obrigado por usar o software para seus estudos em circuitos elétricos, espero que tenha uma boa experiencia!!</h2>
    </section>
</body>
</html>